<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Employees</title>
</head>

<body>


<div class="container">

    <h1>Employees</h1>
    <table class="table table-striped">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
            <th scope="col">Role</th>
            <th scope="col">Working time</th>
            <th scope="col">Spare capacity</th>
            <th scope="col">Action</th>
        </tr>

        <tr scope="col" th:each ="employee : ${employees}">
            <td th:text="${employee.name}">...</td>
            <td th:text="${employee.surname}">...</td>
            <td th:text="${employee.role}">...</td>
            <td th:text="${employee.capacity}">...</td>
            <td th:text="${employee.spareCapacity()}">...</td>
            <td><a th:href="@{/employees/{id}(id=${employee.id})}">Show</a></td>
            <!--href="taskByEmployee.html"-->
        </tr>
    </table>

    <a href="/employees/add" class="btn btn-success">New employee</a>

    <br><br/>
    <br><br/>
    <a href="/" class="btn btn-primary">HOME</a>

</div>

</body>
</html>