<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>

<h1>WORKLOAD MANAGEMENT</h1>
<p>
    <script> document.write(new Date().toLocaleDateString()); </script>
</p>
<br><br/>
<a href="/employees" class="btn btn-primary">
    <img src="/img/employees.jpg" width="350" height="80"/>
</a>
<br><br/>
<a href="/tasks" class="btn btn-primary">
    <img src="/img/tasks.jpg" width="350" height="80"/>
</a>


</body>
</html>