<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Tasks by Employee</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>


<div class="container">

    <div class="alert alert-success" th:if="${message}">
        <strong th:if="${message}" th:text="${message}"></strong>
    </div>

    <h2><i>Employee:</i></h2>
    <h3 th:text="${employee.name}+' '+${employee.surname}"></h3>
    <br></br>
    <h4 th:text="'Spare capacity: '+${employee.spareCapacity()}"></h4>
    <br><br/>
    <h2><i>Assigned tasks:</i></h2>
    <ul class="list-group">
        <li class="list-group-item" th:each="task: ${myTasks}"
            th:text="${task.description}"></li>
    </ul>
    <br><br/>
    <h3>Add next task</h3>
    <form th:object="${task}" th:action="${employee.url}" th:method="post">
                <select name="id" class="form-control input-small">
                    <div>
                        <!--tu musza byc wszystkie zadania, a nie tylko danego pracownika-->

                        <option th:each="task : ${tasks}"
                                th:value="${task.id}"
                                th:utext="${task.description}"></option>
                    </div>
                </select>

        <!--<select path="tasks">-->
                <!--<options items="${tasks}"></options>-->
            <!--</select>-->

            <!--<form:select path="tasks">-->
            <!--<form:options items="${tasks}"></form:options>-->
            <!--</form:select>-->

    <br><br/>
        <button type="submit" class="btn btn-success">Add</button>
    </form>

    <br><br/>
    <a href="/employees" class="btn btn-primary">EMPLOYEES</a>

</div>

</body>
</html>