<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>New Task</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="container">
    <h1>Add task</h1>
    <br><br/>
    <form th:object="${task}" th:action="@{/tasks}" th:method="post">
        <div class="form-group">
            <label>Description</label>
            <input th:field="*{description}" required type="text"
                   class="form-control input-small"
                   placeholder="Description">
        </div>
        <div class="form-group">
            <label>Preparation time (h)</label>
            <input th:field="*{timeInHour}" required type="number" min="0" value="0" step=".05"
                   class="form-control input-small"
                   placeholder="Time in hours">
        </div>
        <br><br/>
        <button type="submit" class="btn btn-success">Save</button>
    </form>

    <br><br/>
    <br><br/>
    <a href="/" class="btn btn-primary">HOME</a>

</div>


</body>
</html>