<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Tasks</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>

<div class="container">

    <div class="alert alert-success" th:if="${message}">
        <strong th:if="${message}" th:text="${message}"></strong>
    </div>

    <h1>List of tasks</h1>
    <!--<ul class="list-group">-->
        <!--<li class="list-group-item" th:each="task: ${tasks}"-->
            <!--th:text="${task.description}"></li>-->
    <!--</ul>-->

    <table class="table table-striped">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Task</th>
            <th scope="col">Time (h)</th>
            <th scope="col">Assigned employee</th>
            <th scope="col">Action</th>
        </tr>

        <tr scope="col" th:each ="task : ${tasks}">
        <td th:text="${task.id}">...</td>
        <td th:text="${task.description}">...</td>
        <td th:text="${task.timeInHour}">...</td>
        <td th:text="${task.employee}">...</td>
        <td>
            <a href="/tasks/{id}">Assign</a>
        </td>
            <!--<td> <a th:href="${task.url()}">Show</a></td>-->
        </tr>
    </table>


    <a href="/tasks/add" class="btn btn-success">New task</a>

    <br><br/>
    <br><br/>
    <a href="/" class="btn btn-primary">HOME</a>

</div>

</body>
</html>